<h1>Sign In</h1>
<% if flash.any? %>
<em><%= flash[:danger] %></em><br><br>
<% end %>
<%= form_with(url: sign_in_path, scope: :session, local: true) do |f| %>

  <%= f.label :name %><br>
  <%= f.text_field :name %><br><br>

  <%= f.submit "OK" %>
<% end %>